* {
    margin: 0;
    padding: 0;
    border: 0;
}


.header {
    position: relative;
    width: 100%;
    left: 0;
    top: 0;
    z-index: 50;  
    
}

.header_border {
    width: 100%;
    border: 1px solid #E5E5E5;
    left: 0;
    top: 0;
}
.header-top {
    display: flex;
    min-height: 149px;
    align-items:center;
}


._container {
    max-width: 1351px;
    margin: 0 auto;
    padding: 0 15px;
    box-sizing: content-box;
}

.header-logo {
    margin-left: 509px;
padding-top: 33px;
padding-bottom: 16px;
}

.logo {
width: 307px;
height: 100px;
}

.header-left{
    display: flex;
    align-items:center;
    flex-wrap: wrap;
    margin: 0px 0px 0px 394px;
}

.left-menu {
    padding-left: 11px;
}
/*-----------------------------------------*/

.nav-border {
    width: 100%;
    border: 1px solid #E5E5E5;
    left: 0;
    top: 0;
}
.header-nav{
    max-width: 1351px;
    margin: 0 auto;
    padding: 0 15px;
    box-sizing: content-box;
}

.menu-list{
    display: flex;
    align-items:center;
    list-style-type: none;
    min-height: 67px;
    justify-content: space-between;
    flex-wrap: wrap;
}
.menu-item:not(:last-child) {
    margin: 0 52px 0 0;
    
}
.menu-link {
    text-decoration: none;
    color: #575D65;
font-family: Roboto Condensed;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: normal;
}
.menu-link:hover {
    text-decoration: underline;
}

/*---------Шапка^----------------------------------*/

.main-block {
	width: 100%;
}

.main-background {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	align-items: flex-start;
}

.background-img {
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
	height: 641px;
}

.right {
	background-image: url('../images/main-img1.jpg');
}

.left {
	background-image: url('../images/main-img2.jpg');
}
    
.top-section {
    display: flex;
    align-items:center;
    flex-direction: column;
text-align: center;
margin-top: 210px;

}

.top-text {
    color: #979797;
font-family: Cormorant Garamond;
font-size: 100px;
font-style: italic;
font-weight: 400;
text-transform: uppercase;
margin-bottom: 32px;
}

.top_button {
    color: #BAA598;
    font-family: Roboto Condensed;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
    border-radius: 2px;
border: 2px solid #BAA598;
background: rgba(255, 255, 255, 0.10);
box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.10);
padding: 20px 38px;
}

/*---------Top^----------------------------------*/

.about {
    display: flex;
    max-width: 1351px;
    margin: 0 auto;
    align-items:center;
    flex-direction: column;
}

.text-about {
    color: #575D65;
text-align: center;
font-family: Roboto Condensed;
font-size: 24px;
font-style: normal;
font-weight: 300;
margin-top: 83px;
}

.line {
    background: #575D65;
width: 230px;
height: 1px;
margin-top: 82px;

}

h2 {
    text-align: center;
    color: #363636;
font-family: Cormorant Garamond;
font-size: 64px;
font-style: italic;
font-weight: 300;
line-height: normal;
margin-top: 50px;
}
/*---------about^----------------------------------*/
.shop {
max-width: 1352px;
margin: 0 auto;
}
.products_items {
display: grid;
grid-template-columns: repeat(3, 350px);
column-gap: 77px;
align-items:center;
padding-top: 78px;
}

.products_item {
    display: grid;
    grid-template-rows: 370px 54px;
    row-gap: 15px;
    justify-items: center;
margin-left: 70px;
}

.products_image {
    margin-top: 78px;
}

.products_image img{
    background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
	height:370px;
}

.products_button {
    color: #363636;
font-family: Roboto Condensed;
font-size: 24px;
font-style: normal;
font-weight: 500;
line-height: normal;
text-transform: uppercase;
border-radius: 2px;
border: 1px solid #363636;
background: #FFF;
padding: 16px 50px;
margin-bottom: 77px;
}

/*---------shop^----------------------------------*/

.social{
    background: linear-gradient(180deg, rgba(167, 147, 133, 0.15) 0%, rgba(167, 147, 133, 0.00) 100%);
    height: 672px;
    margin-top: 96px;

}

.h2social {
    padding-top: 50px;
}

.social-background {
    position: relative;
    padding-left: 32px;
    padding-bottom: 95px;
    width: 610px;
height: 476px;
}

.social_container {
display: flex;
justify-content: space-evenly;
align-items:center;
    max-width: 1351px;
    margin: 0 auto;
    padding-top: 78px;
}

.social-link-text {
    color: #363636;
font-family: Roboto Condensed;
font-size: 26px;
font-style: normal;
font-weight: 400;
line-height: normal;
text-transform: uppercase;
}
.button{
    display: inline-flex;
    align-items:center;
    border-radius: 2px;
border: 1px solid #000;
background: #FFF;
margin-top: 31px;
margin-left: 19px;
}

.follow-text {
    text-decoration: none;
    color: #363636;
font-family: Roboto Condensed;
font-size: 18px;
font-style: normal;
font-weight: 500;
line-height: normal;
text-transform: uppercase;
padding-right: 39px;
}

.insta-link {
    padding: 8px 10px 8px 40px;
}

.social-gallery {
    display: grid;
    width: 770px;
    height: 380px;
grid-template-columns: repeat(4,185px);
    grid-template-rows: repeat(2, 185px);
gap: 10px;
padding-left: 112px;
}

.gallery-img{
    position: relative;
    padding: 0px 0px 85% 0px;
}
.gallery-img img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.gallery-img_big {
    grid-column: span 2;
    grid-row: span 2;
}

/*---------social^----------------------------------*/
.partners {

}

.partners-item {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    align-items:center;
    justify-items: center;
    padding-top: 73px;
}

.shipping {
    display: flex;
    flex-direction: column;
    align-items:center;
}

.royal-mail{
display: grid;
grid-template-columns: 876px 183px;
gap:41px;
align-items:center;

padding-top: 5px;
}

.royal-mail-text{
    color: #363636;
font-family: Roboto Condensed;
font-size: 28px;
font-style: normal;
font-weight: 400;
line-height: normal;
text-transform: uppercase;
}
/*---------shipping^----------------------------------*/

footer {
    height: 453px;
    background-image:url('./assets/images/footer.png');
    background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
    margin-top: 71px;
}
