* {
  margin: 0;
  padding: 0;
  border: 0;
}

.header {
  position: relative;
  width: 100%;
  left: 0;
  top: 0;
  z-index: 50;
}

.header-top {
  display: flex;
  max-height: 149px;
  align-items: center;
  justify-content: flex-end;
}

._container {
  max-width: 1351px;
  margin: 0 auto;
  padding: 0 15px;
  box-sizing: content-box;
}

.header-logo {
  padding-top: 33px;
  padding-bottom: 16px;
}

.header-left {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  margin: 0px 0px 0px 394px;
}

.left-menu {
  padding-left: 11px;
}

.header-line {
  background: #e5e5e5;
  width: 100%;
  height: 1px;
  margin-top: 16px;
}
.logo img {
  width: 100%;
  height: auto;
  display: block;
  object-fit: cover;
}

/*-----------------------------------------*/

.header-nav {
  max-width: 1351px;
  margin: 0 auto;
  padding: 0 15px;
  box-sizing: content-box;
}

.menu-list {
  display: flex;
  align-content: center;
  align-items: center;
  list-style-type: none;
  min-height: 67px;
  justify-content: space-between;
  flex-wrap: wrap;
}
.menu-item:not(:last-child) {
  padding: 0 52px 0 0;
}
.menu-link {
  text-decoration: none;
  color: #575d65;
  font-family: Roboto Condensed;
  font-size: 1em;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.menu-link:hover {
  text-decoration: underline;
}

/*---------Шапка^----------------------------------*/

.main-block {
  width: 100%;
}

.main-background {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: flex-start;
}

.background-img {
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  height: 641px;
}

.right {
  background-image: url("../images/main-img1.jpg");
  max-height: 640px;
}

.left {
	background-image: url('../images/main-img2.jpg');
}

.top-section {
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
  margin-top: 210px;
}

.top-text {
  color: #979797;
  font-family: Cormorant Garamond;
  font-size: 6vw;
  font-style: italic;
  font-weight: 400;
  text-transform: uppercase;
}

.top_button {
  color: #baa598;
  font-family: Roboto Condensed;
  font-size: 1.5em;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
  border-radius: 2px;
  border: 2px solid #baa598;
  background: rgba(255, 255, 255, 0.1);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.1);
  padding: 20px 38px;
  margin-top: 32px;
}

/*---------Top^----------------------------------*/

.about {
  display: flex;
  max-width: 1351px;
  margin: 0 auto;
  align-items: center;
  flex-direction: column;
}

.text-about {
  color: #575d65;
  text-align: center;
  font-family: Roboto Condensed;
  font-size: 1.5em;
  font-style: normal;
  font-weight: 300;
  margin-top: 83px;
}

.line {
  background: #575d65;
  width: 230px;
  height: 1px;
  margin-top: 82px;
}

h2 {
  text-align: center;
  color: #363636;
  font-family: Cormorant Garamond;
  font-size: 4em;
  font-style: italic;
  font-weight: 300;
  line-height: normal;
  margin-top: 50px;
}
/*---------about^----------------------------------*/
.shop {
  max-width: 1352px;
  margin: 0 auto;
}
.products_items {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  gap: 77px;
  align-items: center;
  padding-top: 78px;
}

.products_item {
  display: grid;
  grid-template-rows: 370px 54px;
  gap: 15px;
  justify-items: center;
}

.products_image {
  margin-top: 78px;
}

.products_image img {
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  height: 370px;
}

.products_button {
  color: #363636;
  font-family: Roboto Condensed;
  font-size: 1.5em;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-transform: uppercase;
  border-radius: 2px;
  border: 1px solid #363636;
  background: #fff;
  padding: 16px 50px;
  margin-bottom: 77px;
}

/*---------shop^----------------------------------*/

.social {
  background: linear-gradient(
    180deg,
    rgba(167, 147, 133, 0.15) 0%,
    rgba(167, 147, 133, 0) 100%
  );
  max-height: 672px;
  margin-top: 96px;
}

.h2social {
  padding-top: 50px;
}

.social_container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  max-width: 1351px;
  margin: 0 auto;
  padding-top: 78px;
}

.social-link-text {
  color: #363636;
  font-family: Roboto Condensed;
  font-size: 1.625em;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: uppercase;
}
.button {
  display: inline-flex;
  align-items: center;
  border-radius: 2px;
  border: 1px solid #000;
  background: #fff;
  margin-top: 31px;
  margin-left: 19px;
}

.follow-text {
  text-decoration: none;
  color: #363636;
  font-family: Roboto Condensed;
  font-size: 1.125em;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-transform: uppercase;
  padding-right: 39px;
}

.insta-link {
  padding: 8px 10px 8px 40px;
}

.social-gallery {
  display: grid;
  max-width: 770px;
  max-height: 380px;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-template-areas:
    "big big small1 small2"
    "big big small3 small4";
  gap: 10px;
  padding: 20px;
}

.big {
  grid-area: big;
}
.small1 {
  grid-area: small1;
}
.small2 {
  grid-area: small2;
}
.small3 {
  grid-area: small3;
}
.small4 {
  grid-area: small4;
}

.gallery-img img {
  max-width: 100%;
  object-fit: cover;
}

/*---------social^----------------------------------*/

.partners-item {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  align-items: center;
  justify-items: center;
  padding-top: 73px;
}

.shipping {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.royal-mail {
  display: grid;
  grid-template-columns: 5fr 1fr;
  gap: 41px;
  align-items: center;

  padding-top: 5px;
}

.royal-mail-text {
  color: #363636;
  font-family: Roboto Condensed;
  font-size: 1.75em;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: uppercase;
}
/*---------shipping^----------------------------------*/
